.container {
    display: flex;
    flex-flow: row nowrap;

    width: 100vw;
    height: 100vh;

    background-color: #262626;

    div {
        flex: 1;

        & > * {
            display: inline-block;
            position: relative;
            left: 50%;
            top: 50vh;
            transform: translate(-50%, -50%);
        }
    }
}
